*{
	margin:0;
	padding:0;
}
img{
	border: 0;
}
body{
	font-family:Arial,Verdana,Sans-Serif;
	font-size:.9em;
	background:#FFFFFF;
	padding:.2em 1em;
}		
#boundary{
	text-align:left;
	position:relative;
	width:700px;
	margin:1em 0;
}
#itsthetable{
	background: #fff;
	padding: 1em;
}
h1{
	padding:0px 20px;
	color:#000;
	text-transform:uppercase;
	font-family:"trebuchet ms",Helvetica,Arial,Sans-Serif;
	letter-spacing:-1px;
}
h2{
	padding:10px 10px 0 0;
	color:#030;
	font-size:140%;
	text-transform:uppercase;
	font-family:"trebuchet ms",Helvetica,Arial,Sans-Serif;
}
table {
	border-collapse:collapse;
	border:1px solid #FFCA5E;
}
caption {
	font: 1.8em/1.8em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	background: url(images/bg_caption.jpg) right top;
	height: 45px;
	color: #FFAA00;
}
thead th {
	background: url(images/bg_th.jpg) no-repeat right;
	height: 47px;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	border-right: 1px solid #FCF1D4;
}
thead th.addonName {
		width: 150px;
}
thead th.version {
	width: 150px;
}
thead#topisbottom th {
	background: url(images/bg_total.jpg) repeat-x bottom;
	color: #FFFFFF;
	height: 30px;
}
tbody tr {
	background: url(images/bg_td1.jpg) repeat-x top;
}
tbody tr.odd {
	background: #FFF8E8 url(images/bg_td2.jpg) repeat-x;
}

tbody th,td {
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 10px 7px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: left;
}
a {
	color: #777777;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	color: #F8A704;
	text-decoration: underline;
}
tfoot th {
	background: url(images/bg_total.jpg) repeat-x bottom;
	color: #FFFFFF;
	height: 30px;
	text-align: right;
	
}
tfoot td {
	background: url(images/bg_total.jpg) repeat-x bottom;
	color: #FFFFFF;
	height: 30px;
	text-align: right;
}
#cartCaclulateRow{
	text-align:left;	
}